* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #1d376a;
  color: #fff;
  font-family: 'Inter', sans-serif;
}


/* NAVBAR */
.navbar {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  padding: 15px 30px;
  background: rgba(255,255,255,0.08);
  backdrop-filter: blur(20px);
  border-radius: 50px;
  display: flex;
  justify-content: space-between;
  z-index: 100;
}

.navbar nav a {
  margin-left: 20px;
  color: #aaa;
  text-decoration: none;
}

.navbar nav a.active,
.navbar nav a:hover {
  color: #fff;
}

.socials {
  display: flex;
  gap: 20px;
}

/* HERO */
.hero {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 10%;
}

.hero .name {
  font-size: 7rem;
}

.hero .surname {
  font-size: 6rem;
  opacity: 0.9;
}

.divider {
  width: 200px;
  height: 4px;
  background: #a855f7;
  margin: 20px 0;
}

.tag {
  background: white;
  color: black;
  padding: 6px 14px;
  width: fit-content;
}

/* SECTIONS */
.section {
  padding: 150px 10%;
}

.section h2 {
  font-size: 3rem;
  margin-bottom: 30px;
  color: #ccc;
}

/* ABOUT */
.about-text {
  max-width: 700px;
  margin-bottom: 40px;
  color: #aaa;
}

.about-cards {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 20px;
}

.info-card {
  padding: 30px;
  background: rgba(255,255,255,0.06);
  border-radius: 20px;
  text-align: center;
}

/* SKILLS */
.skills-grid {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 30px;
}

.skill-box {
  background: rgba(255,255,255,0.06);
  padding: 30px;
  border-radius: 20px;
}

.skill {
  margin-top: 20px;
}

.bar {
  background: #222;
  height: 8px;
  border-radius: 20px;
  margin-top: 6px;
}

.bar div {
  height: 100%;
  background: #22c55e;
  border-radius: 20px;
}

/* PROJECTS */
.projects-grid {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 30px;
}

.project-card {
  padding: 30px;
  background: rgba(255,255,255,0.06);
  border-radius: 20px;
}

.project-card button {
  margin-top: 20px;
  background: transparent;
  border: 1px solid #444;
  color: white;
  padding: 10px 20px;
  border-radius: 30px;
}

/* CONTACT */
.contact {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
}

.contact span {
  color: #a855f7;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  background: transparent;
  border: none;
  border-bottom: 1px solid #333;
  padding: 15px 0;
  color: white;
  margin-bottom: 20px;
}

.contact-form button {
  padding: 14px 30px;
  border-radius: 30px;
  border: 1px solid #555;
  background: transparent;
  color: white;
}

/* FOOTER */
footer {
  padding: 40px;
  text-align: center;
  color: #666;
}
